body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Noto Sans", "Noto Sans KR", sans-serif;
      }
      
.login-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
    border: 0.1px solid gray;
    padding: 20px; 
    border-radius: 10px; 
    background: linear-gradient(to bottom right, #F9F5F6, #dce2ed);
    box-shadow: 0px 0px 10px gray;
}

button {  /* 버튼 스타일 변경 */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #919db3;/* 버튼 배경색 */
    color: white; /* 버튼 글자색 */
    cursor: pointer; /* 마우스 커서 변경 */
}

button:hover { /* 마우스를 올렸을 때의 버튼 스타일 */
    background-color: #aeb9cf;
}

.logintext {  
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

input {  
    height: 25px;
    border-radius: 5px; 
}

.error-message {
    color: rgb(215, 75, 75);
    font-size: small;
}
