@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  font-family: "Noto Sans", "Noto Sans KR", sans-serif;
}

.container{
    max-width:1000px;
    margin:auto;
  }

  .header{
  border-bottom:solid 2px rgba(171, 177, 177, .3);
  margin-bottom:40px;
  height: 65px;
  }
  .logo img {
    margin-top: 20px; 
  }
  
  .nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:70px;
    width:1500px;
    margin:auto;
  }
  ul{
    display:flex;
    list-style: none;
    gap:20px;
  }
  li{
    color:rgba(171, 177, 177, .8);
  }

  ul li a {
    position: relative;
    display: inline-block;
    padding: 15px 10px; 
    transition: all 0.3s ease-in-out;
    color: rgb(186, 186, 186); 
    text-decoration: none;
    background: #ffffff;
  }

  
  
  ul li a:hover {
    color: black; 
    background: #f7f7f7df;
  }
  
  ul li a::after {
    content: '';
    position: absolute;
    bottom: -6px; 
    left: 0%; 
    width: 0;
    height: 2px;
    background: #5da1ff;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    
  }
  
  ul li a:hover::after {
    width: 100%; 
    left: 0; 
  }
  
  
  .about{
    display:flex;
    gap:20px;
    align-items: center;
  }


  /* one */
  .one{
    display:flex;
    gap:20px;
  }
  .one .left{
    width:700px;
    height:450px;
    background-image: url("https://miniintern.com/static/images/main/main_img_1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    color:white;
    position:relative;
  }
  .one .right{
    background-image: url("https://miniintern.com/static/images/main/main_img_r_1_temporary.webp");
    width:350px;
    height:450px;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    color:white;
    position:relative;
  
  }
  .one .description{
    margin:30px;
  }
  .left h2,
  .right h2{
    font-size: 2rem;
    font-weight: 400;
  }
  .left p, .right p{
    font-size: 1.5rem;
  }
  .left a,.right a{
    display: block;
    position:absolute;
    bottom:20px;
    margin-left:30px;
  }

  /* two */
  .two{
    margin-top:70px;
  }

  .container h2{
    font-size: 21px;
    margin-bottom: 8px;
    font-weight: 700;
  }
  
  .description a{
    ont-size: 0.875rem;
    color: rgb(23, 161, 255);
    font-weight: 400;
    }

  .two.description2{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:-20px;
    margin-bottom: 20px;
    width: 70%; 
  }
  .two .description{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
  

  .cards{
    display:flex;
    flex-wrap: wrap;
    gap:30px;
    margin-bottom:50px;
  }
  
  .two.cards:hover {
    transform: translateY(-10px); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);  
  }

  .two.cards {
    transition: all 0.2s ease-in-out; 
    box-sizing: border-box; 
  }

  .card img{
    border-radius: 5px;
  }

 
  .two .card .description {
    padding:15px;
    box-sizing: border-box;
    width: 220px;
    height: 100px;
    display: -webkit-box;  
    -webkit-line-clamp: 2;  /* 텍스트를 2줄로 제한 */
    -webkit-box-orient: vertical;  
    overflow: hidden;  /* 넘치는 부분을 숨김 */
    border-radius: 5px;
    border: solid 1px rgba(171, 177, 177, .3);
    border-top: none;
    box-shadow: 3px 3px 3px rgba(171, 177, 177, .3);
  }

  .two .card .description .span1 {
    background-color: black;
    font-weight: bold;
    border-radius: 30px;
    color: white;
    padding: 2px 8px; 
    font-size: 0.7rem; 
    margin-top:0px;
    margin-left:0px;
    margin-right: 10px;
  }

  .two .card .description .span11 { /*진행중 요소*/
    background-color: gray;
    font-weight: bold;
    border-radius: 30px;
    color: white;
    padding: 2px 8px; 
    font-size: 0.7rem; 
    margin: 0px 10px 10px 0; 
  }
  
  .two .card .description .span2{
    font-size:0.9rem;
    color:rgba(125, 133, 133, 0.7)
  }
  .two .card .description .span3{
    display:block;
    font-size:0.9rem;
    margin-top:5px;
    margin-bottom: 15px;
    font-weight: 700;
    overflow: hidden;
  }

  .cards .card {
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .cards .card:hover {
    transform: translateY(-10px);
  }
  
  .cards .card:hover::after {
    opacity: 1;
  }

  .cards .card::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); 
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .cards .card .img-wrapper {
    position: relative;
  }
  
  .cards .card .img-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid transparent; 
    box-sizing: border-box;
    transition: border 0.3s ease-in-out;
    border-radius: 5px;
  }
  
  .cards .card:hover ::after {
    border-color: #FE883C; /* 마우스 호버 시 테두리의 색상을 주황색으로 변경 */
  }

  .cards .card.special:hover ::after {
    border-color: rgb(27, 196, 129); /* 마우스 호버 시 테두리의 색상을 초록색으로 변경 */
  }
  
  /* three */
  .three{
    background-color: rgb(245, 245, 245);
    height:250px;
    width: calc(100% + 2 * 50px); 
    margin: 0 -20px; 
  }
  
  .three .container > div{
    display:flex;
    padding-top:20px;
  }

  .three img{
    border-radius: 15px;
  }
  .three .title{
    border-radius: 0px 20px 20px 0;
    padding:8px 22px 9px 30px;
    width:100px;
    background-color: rgb(72, 171, 253);
    color:white;
    font-size:12px;
    font-weight: bold;
    height: 30px;
    display: flex; /* Flexbox 레이아웃 사용 */
    justify-content: center; /* 내용을 수평 중앙에 배치 */
    align-items: center; /* 내용을 수직 중앙에 배치 */
  }

  .three .description {
    display: flex; /* Flexbox 레이아웃 사용 */
    flex-direction: column; /* 내용을 수직으로 정렬 */
    line-height: 1.0;
}

  .three .description div p{
    margin-left:30px;
  }
  .three .description div .p1{
    color:rgb(84, 90, 95,0.5);
    font-size:1.1rem;
  }
  .three .description div .p2{
    font-weight: 700;
    font-size:1.3rem;
    line-height: 1.5;
    width: 100%; /* 너비를 100%로 설정 */
    white-space: nowrap; /* 텍스트가 너무 길 경우 다음 줄로 넘어가지 않고 한 줄에 표시 */
    overflow: hidden; /* 텍스트가 너비를 초과할 경우 초과하는 부분을 숨김 */
    text-overflow: ellipsis; /* 텍스트가 너비를 초과할 경우 초과하는 부분을 '...'로 표시 */
  }
  
  .three .description2{
    display:none;
  }

  .slide_main {
    width: 400px;  /* 슬라이드 상자 너비 변경 */
    height: 200px; /* 슬라이드 상자 높이 변경 */
    position: relative;
    overflow: hidden;
    user-select: none; /* 사용자 선택 금지 */
    margin-left: 0; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 

}

.slide_wrapper {
    display: flex;
    transition: transform 1s;
}

.slide_carousel {
    flex: 0 0 100%; /* 슬라이드 너비를 상자 너비에 맞게 변경 */
    height: 200px;
    position: relative;
    border-radius: 10px; /* 슬라이드의 모서리를 둥글게 만듭니다. */
    background: linear-gradient(to bottom right, #F9F5F6, #dce2ed);
    display: flex; /* Flexbox 레이아웃 사용 */
    justify-content: center; /* 내용을 수평 중앙에 배치 */
    align-items: center; /* 내용을 수직 중앙에 배치 */
}

.slide_carousel p {
    margin: 0; /* <p> 태그의 margin을 제거합니다. */
    padding: 0; /* <p> 태그의 padding을 제거합니다. */
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

/* 슬라이드 버튼 */
.slide_button_container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slide_button {
    width: 30px;
    height: 30px;
    color: #000;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.slide_prev,
.slide_next {
    background: none; 
    border: none;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* 슬라이드 갯수 표시 */
.slide_page {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.slide_number {
    width: 5px;
    height: 5px;
    background-color: #aaa;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.slide_number.active {
    background-color: #333; /* 활성화된 페이지 표시를 위한 색상 변경 */
}

.four{
    padding-top:70px;
  }

  .description a{
    font-size: 0.875rem;
    color: rgb(23, 161, 255);
    font-weight: 400;
    text-decoration: none;
     }

  .four h2 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 4px;
    word-break: keep-all;
    margin-right: 4px;
  }
  
  .four .description p{
    font-size: 16px;
    margin: 0px;
    word-break: keep-all;
    font-weight: 400;
  }
  .four .description{
  box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
    color: rgb(26, 27, 28);
  }

  .four .description p {
    margin-right: 20px; /* 문장과 링크 사이에 간격을 줍니다 */
  }
  
  .four .infos{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
  }
  .four .info{
    width:490px;
    height:150px;
    border-radius:10px;
    box-shadow:  3px 3px 3px rgba(171, 177, 177, .3);
    padding:30px;
    box-sizing: border-box;
    display: flex;
    position:relative;
    transition: all 0.3s ease;
  }
  .four .info:hover {
    transform: translateY(-10px); /* Y축 방향으로 -10px만큼 이동 (위로 올라감) */
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); /* 아래쪽에 그림자 효과를 줌 */
  }
  
  .four .like{
      position:absolute;
      right:10px;
      top:10px;
      color:white;
      background-color: #eaeaea;
      border-radius: 5px;
      width: 25px; 
      height: 25px; 
      text-align: center;
      cursor: pointer;
    }
    .like:hover::before {
      color: red;
      content: "♥";
    }
  
  
  .four .info_description{
    margin-left:20px;
    max-width: 300px;
  }
  .four .sort,
  .four .what,
  .four .office,
  .four .which
  {
    padding-bottom:3px;
    margin:2px;
  }
  .four .sort{
    color:rgb(167, 167, 167,0.7);
  }
  .four .which{
      color: rgb(23, 161, 255);
      font-weight: lighter;
    }
  
  .four .what {
    white-space: nowrap; /* 텍스트를 한 줄로 표시 */
    overflow: hidden; /* 넘치는 부분을 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 '...'로 표시 */
  }
  
  .four .banner{
    margin:80px 0;
    color:white;
    width:1000px;
    height:130px;
    background-image:url("https://miniintern.com/static/images/main/headhunting_banner_pc.png");
    background-size: 100%; /* 배경 이미지의 초기 크기를 설정 */
  background-repeat: no-repeat; /* 배경 이미지가 반복되지 않도록 설정 */
  background-position: center; /* 배경 이미지의 위치를 가운데로 설정 */
  transition: background-size 0.5s; /* 배경 이미지 크기의 변화에 transition을 적용 */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.four .banner:hover {
  background-size: 120%; /* 마우스를 호버하면 배경 이미지의 크기를 120%로 변경 */
}
  .four .banner h2{
    padding-left:70px;
    font-size: 1.3rem;
  }
  .four .banner button{
    margin-right:60px;
    padding:15px;
    border-radius: 30px;
    color:white;
    background-color: rgba(240, 248, 255, 0.205);
  }

  .five .container .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container .header-content h2 {
    margin-bottom: -10px; 
    font-weight: 300; 
  }
  
  .container .header-content p {
    font-weight: 300; 
  }
  
  .view-all {
    color: rgb(72, 171, 253);
    cursor: pointer;
  }
  
  .five img{
    display:block;
  }
  .five .price{
    background-color:rgb(56, 64, 64);
    color:white;
    margin-top: 0;
    padding-left:10px;
    font-size:0.9rem;
    font-weight: bold;
  }
  .five .card .price-paid {
    background-color:rgb(240, 243, 243);
    color: rgb(56, 64, 64);
    margin-top: 0;
    padding-left:10px;
    font-size:0.9rem;
    font-weight: bold;
  }
  .five .orange{
      margin-top: 0; /* 상단 여백을 없앰 */
      margin-bottom: 2px; /* 하단 여백을 2px로 줄임 */
  }  
  .five .info{
    padding:15px;
    box-sizing: border-box;
    width:220px;
    border-radius: 5px;
    border:solid 1px rgba(171, 177, 177, .3);
    border-top:none;
    height:200px;
    display: flex; 
    flex-direction: column; 
  }

  .five .cards .card {
    position: relative;
    transition: transform 0.3s ease-in-out; /* 변환의 변화에 transition을 적용 */
    background-color: white;
    overflow: hidden; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  
  .five .cards .card:hover {
    transform: translateY(-10px); /* 마우스를 호버하면 Y축 방향으로 -10px만큼 이동 */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }

  .five .card .info p{
    color:rgba(133, 133, 133, 0.7);
    font-size:0.8rem;
    padding:0;
    margin:4px;
  }
  .five .card .info p.title{
    font-size:0.9rem;
    font-weight: 700;
    color:black;
    line-height: 1.2em; 
    height: 2.4em; 
    overflow: hidden;
  }
  .five .card .info p.orange{
    color:rgb(255, 145, 0);
    margin-top:10px;
    margin-bottom: 0;
  }
  .five .card .info div p.orange{
    font-weight: 700;
  }

  .five .card .info p.green{
    color:rgb(27, 196, 129);
    margin-top:10px;
    margin-bottom: 0;
  }
  .five .card .info div p.green{
    font-weight: 700;
  }
  
  .five .card .info div{
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

  .five .info:hover {
    transform: none; /* 초기화 */
    box-shadow: none; /* 초기화 */
  }
  
.six .container {
    display: flex;
    flex-direction: column; 
  }

.six .container .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
.six .cards {
    display: flex;
    margin: 0;
    justify-content: space-between; 
   }

.six .cards .card .info .story{
    border-radius: 5px;
    font-size: small;
    color:gray; 
    text-overflow: ellipsis;
    display: inline-block;
    padding: 1px;
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
  }


.six .card .info .nicknameimg{
    border-radius: 50px;
  }
.six .card .info div{
    display:flex;
    justify-content:flex-start;
  }
.six .card .info .price{
    background-color: transparent;
    color:black;
    font-weight:700;
    font-size:0.8rem;
    padding-left:120px;
    white-space: nowrap;
    margin-right: 10px;
  }
  footer{
    border-top:solid 2px rgba(171, 177, 177, .3);
    padding-top:20px;
    margin-top: 50px;
  }
  footer .foot_nav{
    display:flex;
    justify-content: space-between;
  }
  footer .foot_nav ul li a{
    color:black;
    font-size:0.9rem;
  }

  footer .foot_nav ul li a:hover { 
    color: blue; 
    cursor: pointer;
}





  
