#todo-app {
    width: 300px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}

#filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-btn {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.filter-btn.active.active {
    background-color: #b98e8e;
}

#new-todo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#new-todo {
    flex: 1;
    padding: 5px;
    margin-right:5px;
}

#priority {
    width: 60px;
    margin-right: 5px;
}

#sort-priority {
    display: block;
    width: 100px; 
    margin-top: 10px;
    margin-left: auto; 
}

#add-todo {
    width: 50px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #F5EBEB;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    
}

#add-and-sort-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#sort-todo {
    width: 48%; 
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffcaca;
    cursor: pointer;
}

#todo-list {
    padding-left: 0;
}

#todo-list li {
    display: flex;
    justify-content: flex-starts;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f7c8c8;
    list-style-type: none;
}

#todo-list li input[type="checkbox"] {
    display: none;
}

#todo-list li input[type="checkbox"] + label {
    position: relative;
    padding-left: 20px; 
}

#todo-list li input[type="checkbox"]:checked + label:before {
    background: rgb(91, 91, 126) url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"><path fill="%23ffffff" d="M6.5 0L2 4 0 2l1 1 1-1 4 4L8 4l-1-1 1 1L6.5 0z"/></svg>') no-repeat center; /* 체크 표시의 배경을 파란색으로 설정하고, 중앙에 체크 표시를 추가합니다. */
}

#todo-list li input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: -10%;
    top: 50%;
    transform: translateY(-50%);
    width: 12px; 
    height: 12px; 
    border: 2px solid #ad5151;
    border-radius: 3px;
    background-color: #fff;
}

#todo-list li input[type="checkbox"]:checked + label:before {
    background-color: #905163; 
}

#todo-list li label {
    margin-left: 10px; 
    flex-grow: 1; 
    text-align: left; 
    align-self: center;
    font-size: 12px;
    font-weight: bold;
}

#todo-list li .priority {
    margin-left: auto;
    margin-left: 10px; 
    margin-right: 15px; 
    font-size: 12px;
    align-self: center;
    width: 60px;
    text-align: center;
}

#todo-list li button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffcaca;
    cursor: pointer;
    margin-left: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


/* 우선순위에 따라 색상을 변경 */
.priority-1, .content-1 {
    color: #ffffff;
}

.priority-2, .content-2 {
    color: #C88EA7;
}

.priority-3, .content-3 {
    color: #99627A;
}

.priority-4, .content-4 {
    color: #643843;
}

#outer-container {
    border: 1px dashed #d3d3d3; 
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 10px; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); 
    background: linear-gradient(to bottom right, #F9F5F6, #dce2ed);
}